/* Colours */
:root {
  --1: #264653;
  --2: #2A9D8F;
  --3: #E9C46A;
  --4: #F4A261;
  --5: #E76F51;
}



/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--3)
}

a:visited {
  text-decoration: none;
  color: var(--3)
}

a:active {
  text-decoration: none;
  color: var(--3)
}

html {
  font-family: Poppins, sans-serif;
}

#title {
  color: var(--3);
  padding: 0.1em 1em;
  flex-grow: 2;
}

#navbar {
  display: flex;
  width: 100%;
  background-color: var(--1);
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: var(--3);
}

nav ul {
  list-style: none;
  display: flex;
  padding-right: 0.4em;
}

nav ul:last-of-type {
  padding-right: 0;
} 

nav ul li {
  padding: 1rem;
  border-right: 2px solid var(--3);
  border-left: 2px solid var(--3);

}

nav ul li:first-of-type {
  border-right: none;
}

nav ul li:last-of-type {
  border: none;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: #264653;
  position: fixed;
  bottom: 0;
  left: 0;
}

#email {
  text-align: center;
  color: #E9C46A;
  height: 100%;
}

#email a {
  height: 24px;
  width: 24px;
}

#email span {
  margin-top: 36px;
}

#projects {
  display: flex;
  margin-left: 50px;
  margin-top: 75px;
}

#hyperskill-img {

  height: 200px;
  border-radius: 30px;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.project-card {
  width: 400px;
  height: 533px;
  background: var(--1);
  border-radius: 30px;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0,0,0,0);
}

.project-card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

.project-card > a > p {
  display: block;
  margin: 2rem;
  wrap-option: wrap;
  text-align: center;
  font-size: 14pt;
}

.project-card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}